n8n-workflows/security/security-log.json
{
  "name": "Flora — Security Log",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flora-security-log",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-log",
      "name": "Webhook Log",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData.failedAuthLog) staticData.failedAuthLog = [];\nif (!staticData.blacklist) staticData.blacklist = {};\n\nconst entry = {\n  ip:        body.ip        || 'unknown',\n  sessionId: body.sessionId || 'unknown',\n  timestamp: new Date().toISOString(),\n  reason:    body.reason    || 'unknown',\n  userAgent: body.userAgent || ''\n  // NOTE: message content is intentionally NOT logged (privacy)\n};\n\nstaticData.failedAuthLog.push(entry);\n\n// Keep last 1000 entries\nif (staticData.failedAuthLog.length > 1000) {\n  staticData.failedAuthLog = staticData.failedAuthLog.slice(-1000);\n}\n\n// Check if IP should be blacklisted (>10 fails in 1 hour)\nconst ONE_HOUR_AGO = Date.now() - 3600000;\nconst recentFails = staticData.failedAuthLog.filter(\n  e => e.ip === entry.ip && new Date(e.timestamp).getTime() > ONE_HOUR_AGO\n);\n\nif (recentFails.length >= 10) {\n  staticData.blacklist[entry.ip] = {\n    blockedAt: new Date().toISOString(),\n    expiresAt: new Date(Date.now() + 86400000).toISOString() // 24h\n  };\n}\n\nreturn [{ json: { logged: true, total_fails: staticData.failedAuthLog.length } }];"
      },
      "id": "log-entry",
      "name": "Log Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Log": { "main": [[{ "node": "Log Entry", "type": "main", "index": 0 }]] },
    "Log Entry": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
